@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.cl-avatarBox {
  width: 2.5rem;
  height: 2.5rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
